@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
.header {
    background-color: #1b4242; /* Green background */
    color: white; /* White text */
    padding: 20px; /* Padding */
    text-align: center; /* Centered text */
    margin-bottom: 5px;
    font-family: 'SUSE',sans-serif;
}

.header h1 {
    margin: 0; /* Remove default margin */
    color: rgb(255, 255, 255);
    font-family: 'SUSE',sans-serif;
}

.header nav {
    margin-top: 10px; /* Space between title and nav */
}

.header ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove padding */
}

.header li {
    display: inline; /* Inline list items */
    margin: 0 15px; /* Space between items */
}

.header a {
    color: rgb(255, 255, 255); /* White text */
    text-decoration: none; /* Remove underline */
}

.header a:hover {
    text-decoration: underline; /* Underline on hover */
}
