/* General Styles for the Meal List */
.meal-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -5px;
  padding: 10px 15px;
  box-sizing: border-box;
  min-height: 400px;
  transition: min-height 0.3s ease;
  margin-left: 20px;
  margin-right: 20px;
}

/* Meal Item Styles with Glass UI */
.meal {
  border: 1px solid rgba(255, 255, 255, 0.3); /* Light border for glass effect */
  border-radius: 20px;
  padding: 15px;
  margin: 10px;
  background: rgba(255, 255, 255, 0.25); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Apply glass blur effect */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Soft shadow for floating effect */
  flex: 1 1 calc(25% - 20px); /* 4 items per row by default */
  max-width: calc(25% - 20px);
  box-sizing: border-box;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'SUSE', sans-serif;
}

/* Hover Effect */
.meal:hover {
  transform: scale(1.05); /* Increase size by 5% */
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2); /* Keep the shadow effect */
  transition: transform 0.2s ease-in-out; /* Smooth transition for scaling */
}

/* Meal Image */
.meal img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
  object-fit: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Meal Title */
.meal h3 {
  font-size: 16px;
  margin: 10px 0;
  color: #1b4242;
  text-align: center;
  font-family: 'SUSE', sans-serif;
  font-weight: 600;
}

/* Meal Description */
.meal p {
  margin: 6px 0;
  color: #666;
  text-align: center;
  font-size: 14px;
  font-family: 'SUSE', sans-serif;
}

/* Responsive Styles for Meals */

/* 3 items per row for screens wider than 1024px */
@media (max-width: 1024px) {
  .meal {
    flex: 1 1 calc(33.33% - 20px); /* 3 items per row */
    max-width: calc(33.33% - 20px);
  }
}

/* 2 items per row for screens wider than 768px */
@media (max-width: 768px) {
  .meal {
    flex: 1 1 calc(50% - 20px); /* 2 items per row */
    max-width: calc(50% - 20px);
  }
}

/* 1 item per row for mobile screens */
@media (max-width: 480px) {
  .meal {
    flex: 1 1 100%; /* 1 item per row */
    max-width: 100%;
  }
}

/* Loading Spinner */
.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
}

.loading-spinner {
  font-size: 2rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
