/* General Modal Styles */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow-y: auto; /* Allow vertical scrolling */
    overscroll-behavior: contain; /* Prevent background scroll when modal is open */
    font-family: 'SUSE', sans-serif;
}

.modal-content {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    width: 90vw;
    max-width: 700px;
    max-height: 90vh; /* Set maximum height */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto; /* Make the modal scrollable */
    box-sizing: border-box;
    position: relative;
}

/* Adjusted modal-details for proper layout */
.modal-details {
    display: flex;
    width: 100%;
    justify-content: space-between; /* Space between the image and text */
    align-items: center; /* Center align the items vertically */
}

.close-btn {
    background: none;
    border: none;
    font-size: 1.5rem; /* Use rem for responsiveness */
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1001;
}

.close-btn:hover {
    font-size: 1.75rem; /* Use rem for responsiveness */
    color: red;
}

.modal-image {
    width: 250px; /* Adjusted width for the image */
    height: auto;
    max-height: 250px; /* Set a max height */
    object-fit: cover;
    margin-left: auto; /* Push image to the right */
}

.modal-text {
    max-width: 400px; /* Increased max width for text */
    overflow-y: auto;
    max-height: 400px; /* Increased max height */
    padding-left: 10px; /* Padding to bring text closer to the left border */
}

/* Margin adjustments for text elements */
.modal-text h2 {
    margin: 0 0 5px 0; /* Reduced bottom margin for spacing */
    font-family: 'SUSE', sans-serif;
    color: #1b4242;
}

.modal-text p {
    margin: 0.5rem 0; /* Use rem for vertical spacing */
    padding: 0;
}

.modal-text ul {
    padding-left: 1.25rem; /* Add padding to the left of the list */
    margin: 0.75rem 0; /* Use rem for vertical margin for spacing */
}

/* Responsive Styles */
@media (max-width: 768px) {
    .modal-content {
        flex-direction: column; /* Stack items vertically on small screens */
        align-items: center; /* Center align the items */
    }

    .modal-details {
        flex-direction: column; /* Stack the image and text */
        align-items: center; /* Center align the contents */
    }

    .modal-image {
        margin-left: 0; /* Remove left margin */
        margin-bottom: 15px; /* Bottom margin for spacing */
    }

    .modal-text {
        max-width: 100%; /* Allow text to use full width */
        overflow-y: visible; /* Ensure all text is visible */
        padding-left: 0; /* Remove left padding on small screens */
    }
}
