/* General Modal Styles */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow-y: auto;
    overscroll-behavior: contain;
    font-family: 'SUSE', sans-serif;
}

.modal-open {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.modal-content {
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(12px);
    border-radius: 16px;
    padding: 25px;
    width: 90vw;
    max-width: 700px;
    max-height: 90vh;
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.5);
    overflow-y: auto; /* Allows scrolling */
    box-sizing: border-box;
    position: relative;
    border: 1px solid black; /* Solid black border */
    
    /* Hiding the scrollbar */
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.modal-content::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.modal-details {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.close-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1001;
}

.close-btn:hover {
    font-size: 1.75rem;
    color: red;
}

.modal-image {
    width: 250px;
    height: auto;
    max-height: 250px;
    object-fit: cover;
    margin-left: auto;
}

.modal-text {
    max-width: 400px;
    overflow-y: auto; /* Allows scrolling */
    max-height: 400px;
    padding-left: 10px;

    /* Hiding the scrollbar */
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.modal-text::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.modal-text h2 {
    margin: 0 0 5px 0;
    font-family: 'SUSE', sans-serif;
    color: #1b4242;
    font-size: 20px;
}
.modal-text h3 {
    margin: 0 0 5px 0;
    font-family: 'SUSE', sans-serif;
    color: #1b4242;
    font-size: 20px;
    margin-top: 30px;
    font-weight: 400;
}

.modal-text p, .modal-text ul {
    margin: 0.5rem 0;
    padding: 0;
    margin-bottom: 5px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .modal-content {
        flex-direction: column;
        align-items: center;
    }

    .modal-details {
        flex-direction: column;
        align-items: center;
    }

    .modal-image {
        margin-left: 0;
        margin-bottom: 15px;
    }

    .modal-text {
        max-width: 100%;
        overflow-y: visible;
        padding-left: 0;
    }
}
